<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cjn_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cjn_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CJNNetwork"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:screenOrientation="landscape"
            android:name=".Dashboard_all_in_one.TVDashBoard"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".tabaccessment"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"
            
            android:name=".JobDescription"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".profile.EditProfileActivity"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".PdfViewverActivity"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".authentication.RegisterActivity"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".profile.AddProfileInfo"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".TainingWebView"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".AssessmentWebView"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".JobOfferWebView"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".InterviewWebview"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"

            android:name=".DashboardActivity"
            android:exported="true" >

        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>

</manifest>